.root {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 64px;
  margin-bottom: 4px;
}

.title {
  background: rgba(255, 255, 255, 0.4);
  display: block;
  padding: 2px;
  font-size: 0.8em;
  color: black;
  font-weight: bold;
  position: relative;
}

.clickable {
  cursor: pointer;
}

.icon {
  font-size: 0.7em;
  position: absolute;
  right: 2px;
  top: 5px;
  opacity: 0.3;
}

.title:hover .icon {
  opacity: 1;
}
