.background {
  position: relative;
  display: flex;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
}

.foreground {
  width: 32px;
  height: 32px;
}

.swap {
  position: absolute;
  right: 0;
  top: 0;
  background: black;
  border: none;
  outline: none;
  padding: 2px;
  margin: 0;
}
