.background {
  position: relative;
  display: flex;
  width: var(--toolbar-group);
  height: var(--toolbar-group);
  align-items: center;
  justify-content: center;
}

.foreground {
  width: var(--toolbar-cell);
  height: var(--toolbar-cell);
}

.swap {
  position: absolute;
  right: 0;
  top: 0;
  background: black;
  border: none;
  outline: none;
  padding: 2px;
  margin: 0;
  display: flex;
}
