body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  /* div[tabindex="-1"]:focus { outline: 0 }; */
}

.react-hint__content {
  color: black;
  background: white;
}
.react-hint--top:after {
  border-top-color: white;
}
.react-hint--left:after {
  border-left-color: white;
}
.react-hint--right:after {
  border-right-color: white;
}
.react-hint--bottom:after {
  border-bottom-color: white;
}
