body {
  background-color: #282c34;
}

.palette {
  display: flex;
}

.palette-item {
  width: 64px;
  height: 64px;
}

.palette-itemInner {
  width: 100%;
  border: none;
  height: 100%;
  outline: none;
}

.palette-selector {
  position: relative;
  top: -5px;
  color: white;
}

.current-color {
  height: 24px;
  margin-top: 8px;
}

.canvas {
  display: block;
}

.canvas_container {
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin: auto auto;
  position: relative;
}

.canvas_container-cursor {
  background: white;
  position: absolute;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
